html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Header Section Styles */
#header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    gap: 24em;
}
.logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.links a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    padding-left: 1em;
}
/* Hero Section Styles ( personal note 1.556 edge of p)*/
#hero {
    height: 448px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}
.hero {
    width: 448px;
    height: 190px;
    margin-bottom: 10em;
}
.hero-header {
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin-bottom: -0.4em;
}
.hero-info {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    margin-bottom: 0.4em;
}
.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d747d;
    width: 448px;
    height: 210px;
    margin-bottom: 2.3em;
}
.hero-btn {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    width: 128px;
    height: 36px;
    font-size: 16px;
    color: #f9faf8;
    font-weight: 600;
}
.hero-btn:hover {
    background-color: #e5e7eb;
    color: #3882f6;
}
/* Info Section Styles */
#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 468px;
}
.info-header {
    font-size: 36px;
    font-weight: bolder;
}
.info-card-container {
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
    font-weight: 400;
}
figcaption {
    width: 145px;
}
.placeholder-card {
    height: 145px;
    width: 145px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 0.5em;
}
/* Testimonials Section Styles 420px*/
#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 446px;
    background-color: #e5e7eb;
}

blockquote {
    width: 960px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: -0.5em;
}
.testimonials-copy {
    float: right;
    font-size: 24px;
    color: #1f2937;
    font-weight: 800;
    margin-right: 4em;
}
/* Call to Action Section Styles */
#call {
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    width: 1000px;
    background-color: #3882f6;
    border-radius: 10px;
}

#call-header p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}
.call-header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
    margin-bottom: -0.5em;
}
#call-button {
    background-color: #3882f6;
    border: solid 2px #e5e7eb;
    border-radius: 5px;
    width: 128px;
    height: 36px;
    font-size: 16px;
    color: #f9faf8;
    font-weight: 600;
}
#call-button:hover {
    background-color: #e5e7eb;
    border: solid 2px #3882f6;
    color: #3882f6;
}

/* Footer Section Styles */
#footer {
    text-align: center;
    height: 100px;
    background-color: #1f2937;
    color: #e5e7eb;
}
.footer {
    margin-top: 2.5em;
}
