html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Header Section Styles */
#header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    gap: 24em;
}
.logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.links a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    padding-left: 1em;
}
/* Hero Section Styles ( personal note 1.556 edge of p)*/
#hero {
    height: 448px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}
.hero {
    width: 448px;
    height: 190px;
    margin-bottom: 10em;
}
.hero-header {
    font-size: 48px;
    font-weight: 600;
    color: white;
    margin-bottom: -0.4em;
}
.hero-info {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    margin-bottom: 0.4em;
}
.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d747d;
    width: 448px;
    height: 210px;
    margin-bottom: 2.3em;
}
.hero-btn {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    width: 128px;
    height: 36px;
    font-size: 16px;
    color: #f9faf8;
    font-weight: 600;
}
/* Info Section Styles */
/* Testimonials Section Styles */
/* Call to Action Section Styles */
/* Footer Section Styles */
